
body {
    font-family: pimpernel;
    background-color: #F6EEE3;

    main {
        h1#under-construction {
            font-family: thefridaystroke;
            font-size: 60px;
            color: #6C6C6C;
            opacity: 60%;
            padding: 1em;
        }
    }

  }
