/* line 8, ../sass/main.scss */
body {
  background-color: #F6EEE3;
  font-size: 24px;
  font-family: pimpernel;
  color: #6C6C6C;
}
/* line 15, ../sass/main.scss */
body h1 {
  font-family: thefridaystroke;
  font-size: 60px;
}
/* line 19, ../sass/main.scss */
body h2.dots {
  font-size: 26px;
  font-family: leddotmatrix;
  font-weight: 200;
}
/* line 24, ../sass/main.scss */
body h2.stomp {
  font-size: 30px;
  font-family: stompkind;
  font-weight: 200;
}
/* line 29, ../sass/main.scss */
body p {
  font-family: pimpernel;
}
/* line 31, ../sass/main.scss */
body p.no-top-margin {
  margin-top: 0;
}
/* line 35, ../sass/main.scss */
body .centered {
  text-align: center;
}
/* line 38, ../sass/main.scss */
body .note {
  font-style: italic;
}
/* line 41, ../sass/main.scss */
body .mono {
  font-family: 'Courier New', Courier, monospace;
  font-size: 70%;
  text-align: center;
  margin-top: -18px;
}
/* line 49, ../sass/main.scss */
body div#content-wrapper {
  position: relative;
  width: 375px;
  border: 1px solid #F6EEE3;
  margin: 0 auto;
}
/* line 55, ../sass/main.scss */
body div#content-wrapper #home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: leddotmatrix;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
}
/* line 66, ../sass/main.scss */
body div#content-wrapper::after {
  content: "";
  background-image: url("../static/img/background_long.png");
  background-repeat: no-repeat;
  background-size: 365px auto;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/* line 80, ../sass/main.scss */
body div#content-wrapper header {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 160px;
}
/* line 84, ../sass/main.scss */
body div#content-wrapper header img {
  margin: 0 auto;
  width: 300px;
}
/* line 89, ../sass/main.scss */
body div#content-wrapper header.main-title img {
  margin-left: 10px;
  width: 300px;
}
/* line 93, ../sass/main.scss */
body div#content-wrapper header.main-title h2 {
  margin: 0;
  align-self: flex-end;
  margin-top: -20px;
  margin-right: 40px;
}
/* line 102, ../sass/main.scss */
body div#content-wrapper main {
  padding: 0.5em 1.5em;
}
/* line 105, ../sass/main.scss */
body div#content-wrapper main section.buttons {
  margin-top: 2em;
}
/* line 106, ../sass/main.scss */
body div#content-wrapper main section.buttons.no-top-margin {
  margin-top: 0;
}
/* line 110, ../sass/main.scss */
body div#content-wrapper main section.buttons a, body div#content-wrapper main section.buttons button {
  display: block;
  background-color: rgba(238, 196, 188, 0.6);
  padding: 0.5em;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin: 20px auto;
  text-decoration: none;
  color: #6C6C6C;
  cursor: pointer;
  font-size: 18px;
  font-family: stompkind;
  font-weight: 200;
  border: none;
}
/* line 127, ../sass/main.scss */
body div#content-wrapper main section.buttons a:hover, body div#content-wrapper main section.buttons button:hover {
  background-color: #eec4bc;
}
/* line 133, ../sass/main.scss */
body div#content-wrapper main form h2 {
  margin-bottom: 10px;
}
/* line 136, ../sass/main.scss */
body div#content-wrapper main form input[type=text] {
  margin-top: 0;
  padding: 0;
  width: 100%;
}
/* line 141, ../sass/main.scss */
body div#content-wrapper main form #radio-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-evenly;
}
/* line 147, ../sass/main.scss */
body div#content-wrapper main form #radio-wrapper label {
  margin: 0 10px 0 -4px;
}
/* line 149, ../sass/main.scss */
body div#content-wrapper main form section.buttons {
  margin-top: 0;
}
/* line 152, ../sass/main.scss */
body div#content-wrapper main section.contact {
  text-align: center;
}
/* line 154, ../sass/main.scss */
body div#content-wrapper main section.contact p {
  margin-bottom: 10px;
}
/* line 158, ../sass/main.scss */
body div#content-wrapper main section.contact div img {
  height: 14px;
  margin-right: 4px;
  color: red;
}
/* line 163, ../sass/main.scss */
body div#content-wrapper main section.contact div a {
  text-decoration: none;
  color: #6C6C6C;
}
/* line 170, ../sass/main.scss */
body div#content-wrapper main ul {
  margin: -20px auto;
}
/* line 173, ../sass/main.scss */
body div#content-wrapper main ul li a {
  color: #6C6C6C;
}
